%p Title:
= @song.title
%p Artist:
= @song.artist

= link_to 'Edit this song', edit_song_path, :id => 'edit_song_link'
= link_to 'Delete this song', artists_path, method: :delete, :id => 'delete_song_button' 
