%h5#playlist_name= @playlist.name

%ul
  - @playlist.songs.each do |song|
    %li
      = link_to "#{song.title}", artist_song_path(song.artist, song)

= link_to 'Edit', edit_playlist_path(@playlist)
